/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@font-face {
  font-family: 'Mona Sans';
  src: url('./assets/fonts/Mona-Sans.ttf') format('truetype');
}

:root {
  --background: #f5f4f7;
  --surface: #ffffff;
  --foreground: #1f2937;
  --text-color: #1f2937; /* #010101; */
}

html {
  font-family: 'Mona Sans', sans-serif;
  color: var(--text-color);
}

@layer components {
  .background {
    background-color: var(--background);
  }

  .surface {
    background-color: var(--surface);
  }

  .menu-animation {
    @apply transition-all duration-800 ease-in-out;
  }
}
